html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
    background: white;
    border: 2px solid black;
}

nav a{
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav h1{
    margin: 0;
}

nav h1 a{
    display: inline-block;
    border: 2px solid black;
    padding: 10px 18px;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 22px;
    margin: 0;
    padding: 16px 18px;
    border: 2px solid black;
}

nav ul li{
    border: 2px solid black;
    padding: 8px;
}

nav ul li a{
    display: inline-block;
    border: 2px solid black;
    padding: 10px 16px;
}

