body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: yellow;
    padding: 70px;
}

main {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

section {
    background-color: white;
}

/* Your code here */