@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');


/* 3.1 Body */
body{
    background-color: #F0F4EF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* 3.2 Header + nav */
header{
    background-color: #222222;
    height: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    color: white;
    font-size: 1.2em;
    margin: 0;
}

nav a{
    color: white;
    text-decoration: none;
}

/* 3.3 Custom font */
h2{
    font-family: "Tangerine", cursive;
    font-style: normal;
    font-size: 3.5em;

}

/* 3.4 Main */
main{
    padding-left: 10vw;
    padding-right: 10vw;
}

/* 3.5 Gallery layout */
.photo-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

/* 3.6 Card styling */
.card{
    background-color: white;
    border: 1px solid lightgray;

}

.card img{
    width: 100%;
    display: block;
}

.card p{
    padding: 10px;
    margin: 0;
}

/* 3.7 Footer */
footer{
    background-color: #222222;
    color: white;
}

/* 3.8 Media queries */
@media (max-width: 700px){
    .photo-container{
        grid-template-columns: 1fr;
    }
}