body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 28px;
    background: white;
    align-items: stretch;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

body *{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.card{
    border: 2px solid #cfcfcf;
    background: white;
    padding: 28px;
    display: grid;
    grid-template-columns: 1fr 180px;
    align-items: center; 
    height: 100%;
}

.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card h2{
    margin: 0 0 12px 0;
    font-size: 30px;
    font-weight: bold;
}

.card p{
    margin: 0 0 18px 0;
    font-size: 20px;
}

.card span{
    font-weight: bold;
}